.sidebar {
  width: 34%;
  height: 100%;
  padding: 0.5rem 1rem;
  // background-color: orangered;

  &__header {
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0 1rem;
  }

  &__scroll {
    // background-color: orangered;
    height: 100%;
    padding: 1rem;
    overflow: scroll;
  }
}
