.screen {
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;

    &-image {
      width: 3rem;
      height: 3rem;
      margin: 0 2rem 0 0;
      object-fit: cover;
      border-radius: 50%;
    }

    &-details {
      flex: 1;

      &--name {
        font-size: 1.6rem;
      }

      &--time {
      }
    }

    &-logout {
      display: none;
    }
  }

  &__container {
    width: 100%;
    height: 70%;
    border-radius: 1rem;
    margin: 1rem 0;
    // padding: 2rem 0;
    overflow: scroll;

    &-message {
      width: 100%;
      display: flex;
      margin: 2rem 0;

      &--img {
        width: 3rem;
        height: 3rem;
        // margin: 0 1.5rem;
        object-fit: cover;
        border-radius: 50%;
      }

      &--content {
        font-size: 1.4rem;
        // width: 20rem;
        // height: 8rem;
        border-radius: 1rem;
        margin: 0 1rem;
        padding: 0.5rem 1rem;
        box-shadow: var(--shadow-light);
      }
    }
  }

  &__sendbox {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-light);
    background-color: var(--white);

    &-form {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      // margin-left: 2rem;
      display: flex;
      justify-content: space-between;

      &--inputbox {
        width: 80%;
        height: 3rem;
        border-style: none;
        outline-style: none;
      }

      &--btn {
        border-style: none;
        background-color: var(--white);
        cursor: pointer;

        &__img {
          width: 20px;
          background-color: var(--white);
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .screen {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__header {
      padding: 1rem;
      position: fixed;
      height: 6rem;
      background-color: var(--white);
      border-radius: 0;

      &-logout {
        display: block;
        border-style: none;
        cursor: pointer;
        background-color: firebrick;
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 1rem;
      }
    }

    &__container {
      min-height: 10vh;
      height: 80vh;
      margin-top: 6rem;
      padding: 1rem;
    }

    &__sendbox {
      width: auto;
      height: auto;
      margin: 1rem;

      &-form {
        margin-bottom: auto;
      }

      &-form--inputbox {
        height: 5rem;

        &:active,
        &:focus {
          height: 7rem;
        }
      }
    }
  }
}
