.container {
  width: 120rem;
  height: 55rem;
  margin: 5rem auto;
  padding: 3%;
  border-radius: 2rem;
  background-color: #f9fafb;
  box-shadow: var(--shadow-dark);
  display: flex;
  justify-content: space-between;
}
