.container {
  width: 120rem;
  height: 55rem;
  margin: 5rem auto;
  padding: 3%;
  border-radius: 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow-light);
  display: flex;
  justify-content: space-between;
}
