@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --white: #fff;
  --black: #000;

  --primary: #7c3aed;
  --secondary: #4b5563;

  --gray-light: #e5e7eb;
  --gray-medium: #4b5563;
  --gray-dark: #1f2937;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --border: 1px solid var(--gray-medium);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray-dark);
  background-image: linear-gradient(to right, var(--white), var(--primary));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}
